@model User

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post" asp-action="Login" asp-controller="Account">
    <div class="mb-3">
        <label asp-for="UserName" class="form-label">Username</label>
        <input asp-for="UserName" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="Password">
    </div>
    
    @if (TempData["LoginError"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["LoginError"]
        </div>
    }
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


