@model User

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form method="post">
    <div class="mb-3">
        <label asp-for="UserName" class="form-label">Username</label>
        <input asp-for="UserName" class="form-control">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    @*<div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>*@
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


