@{
    ViewData["Title"] = "Home Page";
}

<div class="container w-75">
    <h2 class="mb-3 text-center">Kiểm tra xác thực thuê bao</h2>
    <form>
        <div class="mb-3">
            <label class="form-label">IP BRAS</label>
            <input class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">SYSNAME OLT</label>
            <input class="form-control" />
        </div>

        <div class="mb-3 dropdown">
            <label class="form-label">Chọn thời điểm kiểm tra</label>
            <select class="form-select" aria-label="Default select example">
                <option selected disabled>Lựa chọn thời điểm</option>
                <option value="1">Trước</option>
                <option value="2">Sau</option>
            </select>
        </div>

        <div>
            <label class="form-label">Lựa chọn tệp để xử lý</label>
            <input class="form-control" type="file" />
        </div>

        <div>
            <label class="form-label">Lựa chọn tệp để xử lý</label>
            <input type="date" class="form-control" />
        </div>

        <button class="mt-3 btn btn-primary" type="submit">Xác nhận thông tin</button>
    </form>
</div>
